@mixin columns-html-classes() {
  @for $i from 1 through $block-grid {
    .columns-#{$i} {
      width: 100% / $block-grid * $i;
    }
  }
}

.container {
  @extend %clearfix;
  width: 100%;
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: $spacing-unit;
  padding-right: $spacing-unit;
  .container {
    padding-left: 0;
    padding-right: 0;
  }
}

[class*="columns-"] {
  width: 100%;
  float: left;
  margin-bottom: $spacing-small;
  padding: 0 $spacing-small;
}

@include respond-to('medium') {
  [class*="columns-"] {
    margin: 0;
  }
  @include columns-html-classes();
}