// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

header {
  margin: $spacing-unit auto;
  text-align: center;
  @extend %clearfix;
}